.idea/
Reports/
Resource/latest_2fa.json
Screenshot/App/*.png
Screenshot/Web/*.png
multiple_languages_*.json
TestCase/TestWebCase/temp.jpg
TestCase/TestAndroidCase/temp.jpg
TestCase/TestApiCase/payme.html
src/
*.pyc