.idea/
Reports/
Screenshot/App/*.png
Screenshot/Web/*.png
src/
*.pyc
Resource/multiple_languages_web.json
Resource/multiple_languages_app.json
TestCase/TestWebCase/temp.jpg
TestCase/TestAndroidCase/temp.jpg
TestCase/TestApiCase/payme.html