pytest~=6.2.2
loguru~=0.5.3
slackweb~=1.0.5
requests~=2.25.1
PyMySQL~=1.0.2
airtest~=1.1.8
pyotp~=2.6.0
pytz~=2021.1
chardet~=4.0.0
logger~=1.4
Faker~=6.6.1
locust~=1.4.4
allure-pytest~=2.8.36
pytest-xdist==2.2.1